@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "sass:map";

.about-layout {
  @include m.flex($justify: flex-start, $align: flex-start);
  gap: 1.53rem;
  align-items: start;

  @media (max-width: v.$bp-desktop) {
      flex-direction: column;
      align-items: flex-start;
    }
}

.artist-badge {
  position: relative;
  width: 13.2rem;
  height: 13.2rem;
  @media (max-width: v.$bp-desktop) {
      display: none;
  }
}

.artist-badge img {
  width: 100%;
  height: 100%;
  display: block;
}

.badge-text {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.badge-rank {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
}

.badge-label {
  font-size:map.get(v.$font-size,subtitle);
}

.artist-about-text {
  flex: 1;
  min-width: 0;
}

.artist-about-text p {
  color: v.$text-primary;
  font-size: map.get(v.$font-size,paragraph);
  line-height: 1.75;
  @media (max-width: v.$bp-desktop) {
      font-size: map.get(v.$font-size,subtitle);
    }
}

.artist-stats {
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
  @media (max-width: v.$bp-desktop) {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: auto;
    }

  h3 {
    color: v.$text-primary;
    font-size: clamp(2rem, 2.2vw, 3rem);
    font-weight: 700;
    line-height: 1.75;
    margin-bottom: 0.4rem;
  }

  h3, h4 {
    color: v.$text-primary;
    line-height: 1.75;
    margin-bottom: 0.4rem;
    font-weight: 700;
  }

  h4 {
    font-size: map.get(v.$font-size,paragraph);
  }

  p {
    color: v.$text-secondary;
    font-size: map.get(v.$font-size,subtitle);
    line-height: 1.75;
}
}