@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "sass:map";

// track styles 

.music-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5rem;
}

.about-music {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1.6rem;
    margin-top: 2rem;
    border-radius: 1rem;
    position: relative;

}

.music-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 2rem;
}

.music-title {
    h1 {
        font-size: 3rem;
        color: v.$text-primary;
    }
    
}

.details {
    @include m.flex;
    color: v.$text-secondary;  
}

.details-action {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
        span {
            font-size: map.get(v.$font-size, subtitle);
            color: v.$text-secondary;
        }
}

.btn-action {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.select-genre {
    display: flex;
    gap: 1rem;
}

.genres {
    padding: 0.8rem 1.3rem;
    border: 0.2rem solid v.$text-secondary;
    border-radius: 4.4rem;
        span {
            color: v.$text-secondary;
            font-size: map.get(v.$font-size, caption);
        }
}