@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.pin {
    background-color: v.$bg-primary;
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -0.5rem;
    right: -1rem;
    z-index: 5;
}

.artist-image-wrapper {
    position: relative; 
    width: 100%;
}

.library-section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1.1rem;
}

.half {
    width: 7.4rem;
}
