@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.filter-section {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    margin: 1.1rem 0 1.6rem 0 ;
}

.list-style {
    display: flex;
    gap: 1rem;
}

.left-filter {
    display: flex;
    gap: 3.5rem;
}

.by {
    display: flex;
    gap: 3.5rem;
}

.library-btn {
    @include m.filter-chip;
    &:active {
        background-color: v.$text-secondary;
    }
}

