@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.pin {
    background-color: v.$bg-primary;
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -0.5rem;
    right: -1rem;
    z-index: 5;
}

