@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;


.album-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1.1rem;
}


.midnight-blue{
    background-color: #1E3264;
}

.burnt-orange{
    background-color: #BA5D07;
}

.medium-purple{
    background-color: #8D67AB;
}

.pinkish-purple{
    background-color: #B02897;
}

.gray{
    background-color: #777777;
}

.forest-green{
    background-color:#148A08 ;
}

.dark-orange{
    background-color: #D84000;
}

.dark-eggplant{
    background-color:#503750 ;
}

.deep-teal{
    background-color: #006450;
}

.bright-red{
    background-color:#E91429 ;
}

.steel-blue{
    background-color:#537AA1 ;
}

.royal-blue {
    background-color: #2D46B9;
}

.deep-pink {
    background-color: #E1118C;
}

.dark-red {
    background-color: #EB1E32;
}

.ligh-pink {
    background-color: #E41D63;
}

.regular-blue {
    background-color: #0D73EC;
}

.medium-pink {
    background-color: #E8115B;
}


  @media (max-width: v.$bp-desktop) {
    .album-container {
        display: grid;
        grid-template-columns: repeat(4, 20rem);
        row-gap: 2rem;
        justify-content: center;
   }
  }
