@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;



.menu-navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    @include m.flex;
    // gap: 3rem;
}

.menu {
    flex-direction: column;
    width: auto;
}