@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;



.menu-navigation {
    ul {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: auto;
        @include m.flex;
    }
}