@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 5.4rem;
}

.main-navigation {
    button {
        @include m.nav-button;
    }
        ul {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;            
        }
}

.actions {
    ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 12px;
    }
        img {
            width: 2.4rem;
            height: 2.5rem;
            background-color: transparent;
        }
            a {
                color: v.$text-secondary;
            }

}

.search:active {
    width: 34rem;
}

//  .mobile-menu {
//   background-color: v.$bg-primary;
//   color: v.$text-secondary;
//   display: none;
// //   display: grid;
// //   grid-template-columns: repeat(5, 1fr);
// //   justify-content: space-between;
 
  
//   @include m.mobile {
//     display: grid;
//     grid-template-columns: repeat(5, 1fr);
//     // justify-content: space-between;
//     align-items: center;
//     width: 100%;
//     height: 95px;
//     position: fixed;
//     bottom: 0;
//     left: 0;
//     z-index: 1000;
//   }
//   &__item {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     font-size: map.get(v.$font-size, paragraph);
//     font-family: v.$font-base;
//     color: v.$text-secondary;
//     &.active {
//       color: v.$nav-active-text;
//     }
//   }
// }