@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;
@use "sass:map";

// styles for album sections

.album-heading {
    display: flex;
    justify-content: space-between;
    color: v.$text-primary;
}

.icons-heading {
    display: flex;
    align-items: center;
    gap: 0.4rem;
       img {
            padding: 1rem 0.7rem;
        }
}

.right {
    transform: rotate(180deg);
}

.albums-wrapper {
    display: flex;
    gap: 1.1rem;
    width: 144rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x proximity;
    scrollbar-width: none; 
    

}