@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;
@use "sass:map";

/* Album Components */

// Reccomendation-Cards styles

.recommendation-card {
    width: 17rem;
    color: v.$text-primary;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    row-gap: 0.9rem;  
    margin-top: 1.4rem;
    cursor: pointer;    
}

.number {
    @include m.card-rank;
}

.album-cover {
    border-radius: 0.8rem;
    position:relative;
    top:0.6rem;
}

.album-description {
    color:v.$text-secondary;
    font-size: 1.2rem;
}

.description {
    margin-top: 1rem;
    gap: 1rem;
}

input[id^="more"] {
    display: none;
}

.more-menu {
    background-color: rgba(v.$bg-secondary, 0.8);
    width: 22rem;
    border-radius:0.5rem ;
    position: absolute;
    top: 40px;
    right: 2rem;
    z-index: 9;
    display: none;
    cursor: pointer;
}

.more-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding:1rem 3rem 1rem 1.6rem;
    gap: 1.6rem;
    align-items: center;
            span {
                color: white;
                font-size: 1.6rem;
            }
}


input[id^="more"]:checked ~ .more-menu {
    display: block;
}

label {
    cursor: pointer;
}

.title-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8rem;
}

.background-shadow {
    width: 15.4rem;
    height: 0.6rem;
    border-top-left-radius: 0.725rem;
    border-top-right-radius: 0.725rem;
    position: absolute;
    top: -0.1rem;
    left: 1rem;
}

.background-shadow2 {
    width: 13.3rem;
    height: 0.3rem;
    border-top-left-radius: 0.725rem;
    border-top-right-radius: 0.725rem;
    z-index: 1;
    position: absolute;
    top: -0.5rem;
    left:2rem;
}


// Genre-Albums styles

.genre-album {
    display: flex;
    padding-left: 2rem;
    width: 17rem;
    height: 17rem;
    color: v.$text-secondary;
    background-color: #1E3264;
    border-radius: 1rem;
    position: relative;
    z-index: 2;
    overflow: hidden;
        .genre-title {
            padding-top: 2rem ;
            color: v.$nav-active-text;
            font-size: map.get(v.$font-size, heading);
            font-weight: map.get(v.$font-weight, bold);  
            width: 9rem;         
        }
   }
 
.album-image {
    position: absolute;
    z-index: 1;
    transform: rotate(30deg);
    right: -1.5rem;
    bottom: -1.5rem;
}   

.description-box {
    margin-top: 1rem;
    gap: 0.8rem;
    padding:1rem 0 1rem 1.2rem; 
    border-radius: 0.5rem;
    .card-title {
        font-size:1.585rem;
        font-weight: map.get(v.$font-weight,regular);
    }
    .album-description {
        font-size: 1.321rem;
    }
}

//card background colors
.pink {
    .background-shadow {
        background-color: rgba(#CE6E9A, 0.3);
    }

    .background-shadow2 {
        background-color: rgba(#CE6E9A, 0.15);
    }

    .number {
        color: #CE6E9A;
    }
}

.mint {
    .background-shadow {
        background-color: rgba(#95E6D3, 0.3);
    }

    .background-shadow2 {
        background-color: rgba(#95E6D3, 0.15);
    }

    .number {
        color: #95E6D3;
    }
}

.light-pink {
    .background-shadow {
        background-color: rgba(#F4B8BD, 0.3);
    }

    .background-shadow2 {
        background-color: rgba(#F4B8BD, 0.15);
    }

    .number {
        color: #F4B8BD;
    }
}

.light-green {
    .background-shadow {
        background-color: rgba(#C3E7B7, 0.3);
    }

    .background-shadow2 {
        background-color: rgba(#C3E7B7, 0.15);
    }

    .number {
        color: #C3E7B7;
    }
}

.bright-pink {
    .background-shadow {
        background-color: rgba(#F37FA6, 0.3);
    }

    .background-shadow2 {
        background-color: rgba(#F37FA6, 0.15);
    }

    .number {
        color: #F37FA6;
    }
}

.blue-gray {
    .background-shadow {
        background-color: rgba(#A0BEC8, 0.3);
    }

    .background-shadow2 {
        background-color: rgba(#A0BEC8, 0.15);
    }

    .number {
        color: #A0BEC8;
    }
}

.light-yellow {
    .background-shadow {
        background-color: rgba(#FDD87D, 0.3);
    }

    .background-shadow2 {
        background-color: rgba(#FDD87D, 0.15);
    }

    .number {
        color: #FDD87D;
    }
}

.rose {
    .background-shadow {
        background-color: rgba(#D4B2A9, 0.3);
    }

    .background-shadow2 {
        background-color: rgba(#D4B2A9, 0.15);
    }

    .number {
        color: #D4B2A9;
    }
}


.warm-beige {
    .background-shadow {
        background-color: rgba(#DEB075, 0.3);
    }

    .background-shadow2 {
        background-color: rgba(#DEB075, 0.15);
    }

    .number {
        color: #DEB075;
    }
}


.teal {
    .background-shadow {
        background-color: rgba(#8DC3B5, 0.3);
    }

    .background-shadow2 {
        background-color: rgba(#8DC3B5, 0.15);
    }

    .number {
        color: #8DC3B5;
    }
}

.soft-blue {
    .background-shadow {
        background-color: rgba(#A6BAD3, 0.3);
    }

    .background-shadow2 {
        background-color: rgba(#A6BAD3, 0.15);
    }

    .number {
        color: #A6BAD3;
    }
}

.pastel-green {
    .background-shadow {
        background-color: rgba(#C3E7B7, 0.3);
    }

    .background-shadow2 {
        background-color: rgba(#C3E7B7, 0.15);
    }

    .number {
        color: #C3E7B7;
    }
}

.lime {
    .background-shadow {
        background-color: rgba(#CCF665, 0.3);
    }

    .background-shadow2 {
        background-color: rgba(#CCF665, 0.15);
    }

    .number {
        color: #CCF665;
    }
}

.lemon {
    .background-shadow {
        background-color: rgba(#F9E72C, 0.3);
    }

    .background-shadow2 {
        background-color: rgba(#F9E72C, 0.15);
    }

    .number {
        color: #F9E72C;
    }
}

.aqua {
    .background-shadow {
        background-color: rgba(#9BF0E2, 0.3);
    }

    .background-shadow2 {
        background-color: rgba(#9BF0E2, 0.15);
    }

    .number {
        color: #9BF0E2;
    }
}

.electric-blue {
    .background-shadow {
        background-color: rgba(#6F86FF, 0.3);
    }

    .background-shadow2 {
        background-color: rgba(#6F86FF, 0.15);
    }

    .number {
        color: #6F86FF;
    }
}

.blush {
    .background-shadow {
        background-color: rgba(#FFCBD4, 0.3);
    }

    .background-shadow2 {
        background-color: rgba(#FFCBD4, 0.15);
    }

    .number {
        color: #FFCBD4;
    }
}

.amber-yellow {
    .background-shadow {
        background-color: rgba(#FFC668, 0.3);
    }

    .background-shadow2 {
        background-color: rgba(#FFC668, 0.15);
    }

    .number {
        color: #FFC668;
    }
}

.deep-teal {
    .background-shadow {
        background-color: rgba(#27856B, 0.3);
    }

    .background-shadow2 {
        background-color: rgba(#27856B, 0.15);
    }

    .number {
        color: #27856B;
    }
}

.magenta {
    .background-shadow {
        background-color: rgba(#DD138B, 0.3);
    }

    .background-shadow2 {
        background-color: rgba(#DD138B, 0.15);
    }

    .number {
        color: #DD138B;
    }
}

.description-box.green {
    background-color: rgba(#85C585, 0.05);
    border-left: 0.4rem solid rgba(#85C585, 0.6);
}

.description-box.peach {
    background-color: rgba(#F1CEBC, 0.05);
    border-left: 0.4rem solid rgba(#F1CEBC, 0.6);
}

.description-box.orange {
    background-color: rgba(#F67D4D, 0.05);
    border-left: 0.4rem solid rgba(#F67D4D, 0.6);
}
