@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;


.filter-section {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    margin: 1.1rem 0 1.6rem 0 ;
}

.filter-btn {
@include m.filter-chip;
}

.filters {
display: flex;
gap: 1rem;
}