  @use "../abstracts/variables" as v;
  @use "../abstracts/mixins" as m;
  @use "sass:map";


//table layout lists
  .track-list {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

    //button styles
    .icon-btn:active svg path {
      fill: v.$primary-accent;
      stroke: v.$primary-accent;
  }

    .hover-icon {
      visibility: hidden;
      transition: opacity 0.3s ease-in-out;
    }

    .track-item:hover .hover-icon {
      visibility: visible;
      color:v.$nav-active-button;
    }

  .track-check {
    display: none;
  }

  .check-btn {
    position: relative;
    width: 2.2rem;
    height: 2.2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color:v.$nav-active-button;
  }

  .icon-unchecked,
  .icon-checked {
    position: absolute;
    transition: opacity 0.2s ease;
  }

  .icon-checked {
    display:none;
  }

  .track-check:checked + .check-btn .icon-unchecked {
    display: none;
  }

  .track-check:checked + .check-btn .icon-checked {
    display:block;
  }

  .check-btn {
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  .track-item:hover .check-btn {
    opacity: 1;
  }
}

  .col-number {
    width: 4.2rem;
  }

  .col-title {
    width: 30rem;
  }

  .col-album {
    width: 30rem;
  }
  .col-duration {
    width: 7rem;
  }

  .col-like, .col-download, .col-more, .col-add, .checkbox {
    width: 4.2rem;
  }

  .space{
    width:auto;
  }

  .track-list th {
    text-align: left;
    padding: 1rem;
    font-weight: map.get(v.$font-weight, regular);
  }

  .track-list td {
    padding: 1rem;
    text-align: left;
    background: transparent;
    transition: background-color 0.3s ease-in-out;
}

.track-item:hover td {
  background: rgba(255,255,255,0.05);
}


  .track-list thead tr {
    border-bottom: 1px solid rgba(255,255,255,0.1);
  }

  .track-title {
    display: flex;
    align-items: center;
    gap: 1rem;
    min-width: 0;
  }

  .track-title img {
    width: 5.1rem;
    height: 5.1rem;
    flex-shrink: 0;
  }

  .track-info {
    display: flex;
    flex-direction: column;
  }

  .artist-tab-content {
    padding:4rem 2.5rem;
    @media (max-width:v.$bp-desktop) {
      padding:1rem 0;
    }
  } 

  .track-item td:first-child {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

  .track-item td:last-child {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}


  // liked songs styles goes here

  .like {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: flex-end;
    margin: 1.1rem 0 1.6rem 0 ;
  }


  //list layout album list
  .list-album-row{
  @include m.flex($justify:space-between,$align:flex-start);
  padding:2rem 0;
  border-bottom:1px solid rgba(255,255,255,0.08);
}

.list-album-row-content{
  @include m.flex($justify:flex-start, $align:flex-start);
  gap: 1.8rem;
  flex: 1;

  .recommendation-card{
    width: auto;
    margin:0;
    position: relative;
    }

  .background-shadow{
    width: 12rem;
    height: 0.558rem;
    border-top-left-radius: 0.725rem;
    border-top-right-radius: 0.725rem;
    position: absolute;
    top: -0.5rem;
    left: 0.5rem;
  }
  .album-row-cover {
  position: relative;
  z-index: 1;
  width: 13rem;
  height: 13rem;
  object-fit: cover;
  display: block;
}
}

.album-row-content{
  @include m.flex($direction:column, $align:flex-start);
  gap:1rem;
}

.album-row-meta{
  @include m.flex();
  gap:1rem;
  list-style:none;
  padding:0;
  margin:0.5rem 0;
}

.album-row-actions{
  display:flex;
  gap:1rem;
}

.dot {
  background-color: v.$text-secondary;
  width:0.3rem;
  height: 0.3rem;
  border-radius: 50%;
}