@use "sass:map";
@use "./variables" as v;

@mixin card-rank($color: v.$text-primary) {
  font-size: map.get(v.$font-sizes, subtitle);
  font-weight: map.get(v.$font-weights, regular);
  color: $color;
}

@mixin filter-chip {
  background-color: rgba($bg-secondary, 0.5);
  color: $nav-active-text;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 0.8rem;
  font-size: 1.2rem;
  font-family: v.$font-base;
  cursor: pointer;
    &:active {
      background-color:map.get(v.$nav-active-button);
      color: black;
      font-weight: map.get(v.$font-weight,bold);
      transition: 0.3s;
    }
}

@mixin nav-button {
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  color: $text-secondary;
  font-size: 1.4rem;
  border: none;
  border-radius: 0.8rem;
  min-width: 19.6rem;
  padding: 0.3rem 0 0.3rem 1.1rem;
  gap: 0.9rem ;
  cursor: pointer;
      &:hover {
          color: white;
      }
          &:active {
              background-color:$bg-primary;
              color: white
          }

}