$bg-main: #060606;
$bg-primary: #111111;
$bg-secondary:#202020;
$text-primary: #E0E0E0;
$text-secondary: #898989; 
$nav-active-text: #FFFFFF; 
$nav-active-button: #E0E0E0;
$btn-bg:rgba(#202020, 0.5);
$player-bg: #333842;
$color-accent: #1ED760;
$btn-remove-bg: #B63F3F; 
$linear-premium:linear-gradient(180deg, #8A354A 0%, #111111 92%);
$linear-account: linear-gradient(to bottom, #10301B 0%, #111111 100%);
